<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    
    <title>Vue</title>

</head>

<body>
    
    <div id="Konverter" class="konverter col-lg-12 col-12">
        <select v-model="firstLength" class="options">
            <option disabled value="">Выберите первую меру длины</option>
            <option>Футы</option>
            <option>Дюймы</option>
            <option>Метры</option>
            <option>Мили</option>
            <option>Морские мили</option>
        </select>
        <div v-if="firstLength =='Футы'" class="divok"><p>Футы</p>   
            <input v-model="firstLengthValue">
        </div>
        <div v-if="firstLength =='Дюймы'" class="divok"><p>Дюймы</p>
            <input v-model="firstLengthValue">
        </div>
        <div v-if="firstLength =='Метры'" class="divok"><p>Метры</p>
            <input v-model="firstLengthValue">
        </div>
        <div v-if="firstLength =='Мили'" class="divok"><p>Мили</p>
            <input v-model="firstLengthValue">
        </div>
        <div v-if="firstLength =='Морские мили'" class="divok"><p>Морские мили</p>
            <input v-model="firstLengthValue">
        </div>
        <br><br><br>
        <select v-model="secondLength" class="options">
            <option disabled value="">Выберите вторую меру длины</option>
            <option>Футы</option>
            <option>Дюймы</option>
            <option>Метры</option>
            <option>Мили</option>
            <option>Морские мили</option>
        </select>
        <div v-if="secondLength =='Футы'" class="divok">Футы
            <p v-if="firstLength=='Футы'">{{(firstLengthValue*1).toFixed(2)}}</p>
            <p v-if="firstLength=='Дюймы'">{{(firstLengthValue*0.8333).toFixed(2)}}</p>
            <p v-if="firstLength=='Метры'">{{(firstLengthValue*3.28).toFixed(2)}}</p>
            <p v-if="firstLength=='Мили'">{{(firstLengthValue*5280).toFixed(2)}}</p>
            <p v-if="firstLength=='Морские мили'">{{(firstLengthValue*6076.115485564259).toFixed(2)}}</p>
        </div>
        <div v-if="secondLength =='Дюймы'" class="divok">Дюймы
            <p v-if="firstLength=='Футы'">{{(firstLengthValue*12).toFixed(2)}}</p>
            <p v-if="firstLength=='Дюймы'">{{(firstLengthValue*1).toFixed(2)}}</p>
            <p v-if="firstLength=='Метры'">{{(firstLengthValue*39.37).toFixed(2)}}</p>
            <p v-if="firstLength=='Мили'">{{(firstLengthValue*63360).toFixed(2)}}</p>
            <p v-if="firstLength=='Морские мили'">{{(firstLengthValue*72913.38582677074).toFixed(2)}}</p>
        </div>
        <div v-if="secondLength =='Метры'" class="divok">Метры
            <p v-if="firstLength=='Футы'">{{(firstLengthValue*3.28).toFixed(2)}}</p>
            <p v-if="firstLength=='Дюймы'">{{(firstLengthValue*39.37).toFixed(2)}}</p>
            <p v-if="firstLength=='Метры'">{{(firstLengthValue*1).toFixed(2)}}</p>
            <p v-if="firstLength=='Мили'">{{(firstLengthValue*1609.34).toFixed(2)}}</p>
            <p v-if="firstLength=='Морские мили'">{{(firstLengthValue*1851.9999999999995).toFixed(2)}}</p>
        </div>
        <div v-if="secondLength =='Мили'" class="divok">Мили
            <p v-if="firstLength=='Футы'">{{(firstLengthValue*0.00018939393939394072)}}</p>
            <p v-if="firstLength=='Дюймы'">{{(firstLengthValue*0.000015782828282828476)}}</p>
            <p v-if="firstLength=='Метры'">{{(firstLengthValue*0.0006213711922373339).toFixed(4)}}</p>
            <p v-if="firstLength=='Мили'">{{(firstLengthValue*1).toFixed(2)}}</p>
            <p v-if="firstLength=='Морские мили'">{{(firstLengthValue*1.1507794480235423).toFixed(2)}}</p>
        </div>
        <div v-if="secondLength =='Морские мили'" class="divok">Морские мили
            <p v-if="firstLength=='Футы'">{{(firstLengthValue*0.0001645788336933057)}}</p>
            <p v-if="firstLength=='Дюймы'">{{(firstLengthValue*0.000013714902807775547)}}</p>
            <p v-if="firstLength=='Метры'">{{(firstLengthValue*0.0005399568034557236).toFixed(4)}}</p>
            <p v-if="firstLength=='Мили'">{{(firstLengthValue*0.8689762419006479).toFixed(2)}}</p>
            <p v-if="firstLength=='Морские мили'">{{(firstLengthValue*1).toFixed(2)}}</p>
        </div>
    </div>

    <script>

        var Konverter = new Vue({
            el: '#Konverter',
            data: {
                firstLength: '',
                secondLength: '',
                firstLengthValue: 0,
                secondLengthValue: 0
            }
        })
    </script>
    <script src="js/myscript.js"></script>
</body>

</html>